<a href="https://colab.research.google.com/github/Deli8t/data/blob/master/Delight_Assisgnment_Web_Scraping_with_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<font color='#2F4F4F'>To use this notebook on Colaboratory, you will need to make a copy of it. Go to File > Save a Copy in Drive. You can then use the new copy that will appear in the new tab.</font>

# <font color='#2F4F4F'>AfterWork Data Science: Web Scraping with Python</font>

## <font color='#2F4F4F'>Prerequisites</font>

In [109]:
# We first import the required libraries
# ---
#
import pandas as pd             # library for data manupation
import requests                 # library for fetching a web page 
from bs4 import BeautifulSoup   # library for extrating contents from a webpage

## <font color='#2F4F4F'>Step 1: Obtaining our Data</font>

In [120]:
# PigiaMe: https://www.pigiame.co.ke/it-software-jobs
# ---
#
pigia_me = requests.get('https://www.pigiame.co.ke/it-software-jobs')
pigia_me

In [111]:
# MyJobMag: https://www.myjobmag.co.ke/jobs-by-field/information-technology
# ---
#
my_job_mag = requests.get('https://www.myjobmag.co.ke/jobs-by-field/information-technology')
my_job_mag

In [112]:
# KenyanJob: https://www.kenyajob.com/job-vacancies-search-kenya?f%5B0%5D=im_field_offre_secteur%3A133
# ---
#
kenyan_job = requests.get('https://www.kenyajob.com/job-vacancies-search-kenya?f%5B0%5D=im_field_offre_secteur%3A133')
kenyan_job

## <font color='#2F4F4F'>Step 2: Parsing</font>

In [121]:
# Parsing our document: pigia_me
# ---
# 
soup_1 = BeautifulSoup(pigia_me.text, "html.parser")

In [114]:
# Parsing our document: my_job_mag
# ---
#  
soup_2 = BeautifulSoup(my_job_mag.text, "html.parser")

In [115]:
# Parsing our document: kenyan_job
# ---
# 
soup_3 = BeautifulSoup(kenyan_job.text, "html.parser")

## <font color='#2F4F4F'>Step 3: Extracting Required Elements</font>

In [123]:
#Extraxting job titles and links ; pigia me

results_1 = soup_1.find_all('div',attrs={'class':'listing-card__header__title'})
results_1

#Stripping all surrounding whitesapce

results_1 =[tag.get_text().strip()for tag in results_1]
results_1

['Graphic Designer/IT Specialist',
 'Database Administrator',
 'IT Apps Developer',
 'Junior Data Analyst (Agriculture) – Nairobi, Kenya',
 'Software Systems Supervisor - Urgent',
 'Junior Software Developer',
 'Business Analyst',
 'Business Analyst',
 'FULLSTACK DEVELOPER - Python Django / VueJS',
 'Software Developer (Donor Project)']

In [117]:
#Extracting job links
# We then create empty lists that we will use to store

#content fetched from the  <a>  tags
import re

soup_1 = BeautifulSoup(pigia_me.text, "html.parser") 

for link in soup_1.find_all('a', 

                         attrs={'href': re.compile("^https://www.pigiame.co.ke/listing")}):

     #display the actual urls

    print(link.get('href'))

https://www.pigiame.co.ke/listings/graphic-designerit-specialist-3857214
https://www.pigiame.co.ke/listings/database-administrator-3857568
https://www.pigiame.co.ke/listings/it-apps-developer-3857538
https://www.pigiame.co.ke/listings/junior-data-analyst-agriculture-nairobi-kenya-3857270
https://www.pigiame.co.ke/listings/software-systems-supervisor-urgent-3849477
https://www.pigiame.co.ke/listings/junior-software-developer-3846189
https://www.pigiame.co.ke/listings/business-analyst-3844355
https://www.pigiame.co.ke/listings/business-analyst-3830825
https://www.pigiame.co.ke/listings/fullstack-developer-python-django-vuejs-3827564
https://www.pigiame.co.ke/listings/software-developer-donor-project-3823647

In [64]:
## 2. Extracting job titles: my_job_mag
# ---
# 
results_2 = soup_2.find_all('h2')
results_2

#Strpping all surrounding whitespace
results_2 =[tag.get_text().strip()for tag in results_2]
results_2

['Technology and Product Officer KY at Umba',
 'Full Stack Software Engineer (PHP) at Cytonn Investments',
 'Data Science Specialist at Britam',
 'Lead SDET-Channels & Core IT at Safaricom Kenya',
 'Principal Business Analyst at Safaricom Kenya',
 'Tech Lead Convergent Billing System Planning and Evolution at Safaricom Kenya',
 'Lead Data Scientist at Safaricom Kenya',
 'Application Support Engineer at KCB Bank Kenya',
 'Solutions Architect at Red Dot Distribution',
 'System Analyst at Musoni',
 'FSD Network Gender Manager at FSD Africa',
 'Intern, Digital Communications at Microfundit Co',
 'Senior Elixir Back End Developer at SafeBoda',
 'Intern, UI/UX Designer at Microfundit Co',
 'Intern, Full Stack Developer at Microfundit Co',
 'ICT Intern (Nairobi) at Self Help Africa',
 'Software Technician at Kenya Wine Agencies Limited (KWAL)',
 'Senior Software Engineer- Substrate App Platform at Microsoft',
 'Subscribe to Job Alert',
 'Career Advice',
 'Subscribe to Job Alert',
 'Job Vacancies in ICT / Computer']

In [65]:
# 3. Extracting job titles: kenya_job
# ---
#()
results_3 = soup_3.find_all('h5')
results_3

#Strpping all surrounding whitespace
results_3 =[tag.get_text().strip()for tag in results_3]
results_3

['Area Sales Manager',
 'Senior Customer Success Operations Analyst - Customer Programs-US Only',
 'Senior Backend Engineer, Manage: Import',
 'Senior Frontend Engineer, Release',
 'Senior Customer Success Operations Analyst-Product Usage Data',
 'Senior Backend Engineer, Growth: Experimentation',
 'Senior/Staff Fullstack Engineer: Product Analytics',
 'Senior Backend Engineer, Manage: Compliance',
 'Senior Backend Engineer, Product Intelligence',
 'Backend Engineer, Verify: Pipeline Authoring',
 'Backend Engineer, Enablement: Sharding Group',
 'Director of Chaos Engineering - Ubuntu & Distributed Systems',
 'Software Engineer, Ceph & Distributed Storage',
 'Global Head of Performance Engineering',
 'Distributed Systems Golang Engineer',
 'Dedicated Linux Engineer, EMEA',
 'Embedded Linux Consulting Engineering Director',
 'BootStack APAC Engineering Manager',
 'Growth Engineer - Marketing Automation',
 'Director, DevOps Engineering',
 'DevOps Engineer',
 'Go Software Engineer, Commercial Systems',
 'Site Reliability Engineering Manager',
 'Kubernetes Engineering Manager',
 'Cloud Operations Engineer, EMEA']

## <font color='#2F4F4F'>Step 4: Saving our Data</font>

In [124]:
# Saving the scraped contents in a dataframe and preview our data
# ---
#
results_1 = pd.DataFrame({"title":results_1})
results_1.head()

                                               title
0                     Graphic Designer/IT Specialist
1                             Database Administrator
2                                  IT Apps Developer
3  Junior Data Analyst (Agriculture) – Nairobi, K...
4               Software Systems Supervisor - Urgent

In [126]:
results_2 = pd.DataFrame({"title":results_2})
results_2.head()

                                               title
0          Technology and Product Officer KY at Umba
1  Full Stack Software Engineer (PHP) at Cytonn I...
2                  Data Science Specialist at Britam
3    Lead SDET-Channels & Core IT at Safaricom Kenya
4      Principal Business Analyst at Safaricom Kenya

In [127]:
results_3 = pd.DataFrame({"title":results_3})
results_3.head()

                                               title
0                                 Area Sales Manager
1  Senior Customer Success Operations Analyst - C...
2            Senior Backend Engineer, Manage: Import
3                  Senior Frontend Engineer, Release
4  Senior Customer Success Operations Analyst-Pro...